body {
    background-color: #232323;
    margin: 0;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: normal;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 2rem;
    transition: background 600ms;
    -webkit-transition: background 600ms;
    -moz-transition: background 600ms;
}

#colorDisplay {
    font-size: 200%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 57px;
} 

h1 {
    line-height: 1.1;
    text-align: center;
    color: white;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 500ms;
    -webkit-transition: background 500ms;
    -moz-transition: background 500ms;
    outline: none;
}

#message {
    display: inline-block;
    width: 20%;
}

button:hover {
    color: white;
    background: steelblue;
}
